asgiref==3.2.10
cffi==1.14.2
chartjs==1.2
cryptography==2.9.2
Cython==0.29.21
Django==3.0.10
django-ckeditor==6.0.0
django-ckeditor-5==0.0.12
django-js-asset==1.2.2
django-richtextfield==1.6
djangorestframework==3.12.1
docutils==0.16
entrypoints==0.3
future==0.17.1
jeepney==0.4.3
Jinja2==2.10.3
keyring==18.0.1
MarkupSafe==1.1.1
olefile==0.46
Pillow==7.2.0
pkg-resources==0.0.0
py==1.8.2
pycparser==2.20
pytz==2019.3
PyYAML==5.1.2
SecretStorage==3.1.2
six==1.15.0
sqlparse==0.3.1
tblib==1.4.0
